{% extends 'base.html' %}

{% block title %}What's Hot Today{% endblock %}

{% block content %}
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        What's Hot Today
      </h3>
    </div>
    
    {% if products %}
      {% include 'core/partial_products_table.html' with products=products %}
    {% else %}
      <ul class="list-group">
        <li class="list-group-item empty-result">
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <h4>No discount today.</h4>
        </li>
      </ul>
    {% endif %}

  </div>
{% endblock %}