{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Verkkokauppa.com</h3>
    </div>
    <div class="panel-body">
      <div class="btn-toolbar" role="toolbar" aria-label="Products Toolbar">

        <form method="get">
          <input type="hidden" name="o" value="{% if order %}{{ order }}{% endif %}">
          <div class="input-group" style="width: 300px;">
            <input type="text" class="form-control input-sm" name="q" value="{% if querystring %}{{ querystring }}{% endif %}" placeholder="Search">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>

        {% if querystring %}
          <div class="btn-group">
            <a href="/" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-remove"></span> Clear search</a>
          </div>
        {% endif %}

        <div class="btn-group pull-right" role="group" aria-label="Pager">
          {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}{% if order %}&o={{ order }}{% endif %}{% if querystring %}&q={{ querystring }}{% endif %}" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
          {% else %}
            <button type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
          {% endif %}
          {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}{% if order %}&o={{ order }}{% endif %}{% if querystring %}&q={{ querystring }}{% endif %}" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
          {% else %}
            <button type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          {% endif %}
        </div>

        <div class="btn-group pull-right">
          <a href="javascript:void(0);" class="btn btn-sm btn-link js-jump-page" data-container="body" data-placement="bottom">
            <strong>{{ products.start_index }}</strong> – <strong>{{ products.end_index }}</strong> of <strong>{{ products.paginator.count }}</strong>
          </a>
        </div>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
            Sort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li{% if order == 'name' %} class="active"{% endif %}><a href="?o=name{% if querystring %}&q={{ querystring }}{% endif %}">Name (a - z)</a></li>
            <li{% if order == '-name' %} class="active"{% endif %}><a href="?o=-name{% if querystring %}&q={{ querystring }}{% endif %}">Name (z - a)</a></li>
            <li{% if order == 'price_percentage_variance' %} class="active"{% endif %}><a href="?o=price_percentage_variance{% if querystring %}&q={{ querystring }}{% endif %}">Greater prices decreases</a></li>
            <li{% if order == '-price_percentage_variance' %} class="active"{% endif %}><a href="?o=-price_percentage_variance{% if querystring %}&q={{ querystring }}{% endif %}">Greater prices increases</a></li>
            <li{% if order == 'current_price' %} class="active"{% endif %}><a href="?o=current_price{% if querystring %}&q={{ querystring }}{% endif %}">Lowest prices</a></li>
            <li{% if order == '-current_price' %} class="active"{% endif %}><a href="?o=-current_price{% if querystring %}&q={{ querystring }}{% endif %}">Highest prices</a></li>
            <li{% if order == '-price_changes' %} class="active"{% endif %}><a href="?o=-price_changes{% if querystring %}&q={{ querystring }}{% endif %}">Most variances</a></li>
            <li{% if order == '-visited_at' %} class="active"{% endif %}><a href="?o=-visited_at{% if querystring %}&q={{ querystring }}{% endif %}">Recently visited</a></li>
          </ul>
        </div>
      </div>

    </div>
    <table class="table" id="products" data-num-pages="{{ products.paginator.num_pages }}">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Variance</th>
          <th class="text-center"><span class="fa fa-line-chart"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-time"></span></th>
          <th class="text-center"><span class="glyphicon glyphicon-euro"></span></th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr class="{% if product.price_percentage_variance < 0 %}bg-success{% elif product.price_percentage_variance > 0 %}bg-danger{% endif %}">
            <td>
              <a href="{% url 'product' product.code %}">{{ product.name }}</a>
            </td>
            <td class="text-right" style="white-space: nowrap;">
              <a href="{{ product.url }}" target="_blank">{{ product.code }} <span class="glyphicon glyphicon-new-window" style="font-size: 60%;"></span></a>
            </td>
            <td>{{ product.get_price_percentage_variance_display }}</td>
            <td class="text-right" style="white-space: nowrap;">{{ product.price_changes }}</td>
            <td class="text-right" style="white-space: nowrap;">{{ product.visited_at|naturaltime }}</td>
            <td class="text-right" style="white-space: nowrap;">{{ product.get_current_price_display }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="empty-result">
              {% if querystring %}
                <span class="glyphicon glyphicon-search"></span>
                <h4>The search returned no result.</h4>
                <a href="." class="btn btn-default">Clear search</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>  
{% endblock %}
