body {
  background-color: #f6f6f6;
}

header {
  background-color: #eee;
}

header h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

header h1 a,
header h1 a:hover, 
header h1 a:active {
  text-decoration: none;
  color: #000;
}

header .logo {
  width: 32px;
  margin-right: 5px;
}

.search {
  margin-top: 25px;
  margin-bottom: 20px;
}

.search .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.search .btn {
  border-radius: 0;
  border: none;
  color: #999;
  padding-top: 11px;
  padding-bottom: 11px;
}

.search .btn:hover,
.search .btn:active {
  background-color: #fff;
  color: #555;
}

.search .form-control:focus {
  border-color: #B50500;
}

.menu {
  background-color: #8b572a;
  margin-bottom: 30px;
}

.menu a {
  font-weight: bold;
  padding: 8px 16px;
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
           transition: all 0.2s ease 0s;
}

.menu a:hover,
.menu a:active {
  background-color: #653710;
  text-decoration: none;
}

.btn-toolbar {
  margin-bottom: 20px;
}

.empty-result {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.empty-result > .glyphicon {
  color: #aaa;
  font-size: 28px;
}

.product-title {
  margin-top: 0;
}