@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 a, h1 a:hover, h1 a:active {
  text-decoration: none;
  color: #333;
}

#products tbody tr td.empty-result {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#products tbody tr td.empty-result > .glyphicon {
  color: #aaa;
  font-size: 28px;
}